# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Node.js Package

on:
  release:
    types: [created]
  push:
    branches:
      - master # 仅当push到main分支时触发

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
            sparse-checkout: .

      - name: npm install
        run: npm install

      - name: Rollup build
        run: npm run build

      - name: Bump version (optional)
        run: npm version patch # 自动修改版本号
        
      # - name: Publish to npm
      #   run: npm publish
      #   env:
      #     NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  publish-npm:
    needs: build
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
            sparse-checkout: .
            
      - name: Publish to npm
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
