# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Node.js Package

on:
  release:
    types: [created]
  push:
    branches:
      - master # 仅当push到main分支时触发

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
            sparse-checkout: .

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'
          registry-url: 'https://registry.npmjs.org'

      - name: npm install
        run: npm install

      - name: Rollup build
        run: npm run build

      - name: Set up Git user
        run: |
          git config --global user.name "piuyixiu"
          git config --global user.email "1597167270@qq.com"

      - name: Bump version (optional)
        run: npm version patch --no-git-tag-version # 自动修改版本号
        
      - name: Commit changes # 更新版本号的修改
        with:
          github_token: ${{ secrets.COMMIT_TOKEN }}
        run: |
          git add .
          git commit -m "Bump version" || echo "No changes to commit"
          git push origin master

      - name: Publish to npm
        run: npm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  # publish-npm:
  #   needs: build
  #   runs-on: windows-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #       with:
  #           sparse-checkout: .
  #     - name: Publish to npm
  #       run: npm publish
  #       env:
  #         NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
